<ion-header>
  <ion-toolbar>
    <ion-title>Management</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content class="outer">-->
<ion-content>
  <div class="main-div">
    <ion-grid class="grid-class">

      <ion-row class="header-row-class">
        <ion-col class="column1-class">
          Name (forename and surename)
        </ion-col>
        <ion-col class="column2-class">
          Role
        </ion-col>
        <ion-col class="column3-class">
          E-Mail
        </ion-col>

        <ion-col class="column4-class">
          Edit
        </ion-col>

        <ion-col class="column5-class">
          Remove
        </ion-col>
      </ion-row>

      <div *ngFor="let management of managements;">
        <ion-row class="row-class">
          <ion-col class="column1-class">
            {{management.forename}} {{management.surename}}
          </ion-col>
          <ion-col class="column2-class">
            {{management.role}}
          </ion-col>
          <ion-col class="column3-class">
            {{management.email}}
          </ion-col>
          <ion-col class="column4-class">
            <ion-button (click)="onEdit(management)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="column5-class">
            <ion-button (click)="onDelete(management)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <ion-row class="footer-row-class"></ion-row>

    </ion-grid>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button style="margin-right: 10px;" (click)="onCreate()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
