<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profil bearbeiten</ion-title>
    <ion-button (click)="presentLogoutAlert()" fill="clear" slot="end">Ausloggen</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="content-outer">
    <div class="content-inner">

      <ion-row
        class="ion-padding ios ion-align-items-center item-label item-label-stacked item ion-focusable ion-untouched ion-pristine ion-invalid hydrated item-interactive item-input">
        <div class="item-native it-nat" style="margin: auto;">
          <div class="item-inner">
            <div class="input-wrapper">
              <slot>
                <ion-avatar>
                  <img src="/assets/avatar.svg" style="display: block">
                </ion-avatar>
              </slot>
            </div>
          </div>
        </div>
      </ion-row>

      <div style="text-align: center">
        <ion-title>{{currentUser.firstName}} {{currentUser.lastName}}</ion-title>
        <ion-label>{{currentUser.username}}</ion-label>
      </div>
      <!--
            <div class="seperator">
              <ion-title size="small" style="margin-bottom: inherit">Persönliche Daten</ion-title>
              <ion-item class=" ion-align-items-center ">
                <ion-label position="floating">PartnerID</ion-label>
                <ion-input minlength="1" required="false" type="partnerId" formControlName="partnerId"></ion-input>
              </ion-item>
              <ion-item class=" ion-align-items-center ">
                <ion-label position="floating">Telefonnummer</ion-label>
                <ion-input minlength="8" required="false" type="phoneNumber" formControlName="phoneNumber"></ion-input>
              </ion-item>
              <ion-item class=" ion-align-items-center ">
                <ion-label position="floating">Geburtsdatum</ion-label>
                <ion-input required="false" type="birthday" formControlName="birthday"></ion-input>
              </ion-item>
              <ion-item class=" ion-align-items-center ">
                <ion-label position="floating">Link zum eigenen Stay</ion-label>
                <ion-input required="false" type="stayLink" formControlName="stayLink"></ion-input>
              </ion-item>
            </div>
      -->
      <div class="seperator">
        <ion-title size="small">Passwort ändern</ion-title>
      </div>

      <form [formGroup]="form" (ngSubmit)="submitPwdChange()">
        <ion-item class=" ion-align-items-center ">
          <ion-label position="floating">Altes Passwort</ion-label>
          <ion-input minlength="1" required="false" type="password" formControlName="oldPassword"></ion-input>
        </ion-item>

        <ion-item class=" ion-align-items-center ">
          <ion-label position="floating">Neues Passwort</ion-label>
          <ion-input minlength="8" required="false" type="password" formControlName="newPassword"></ion-input>
          <ng-container *ngIf="form.get('newPassword').dirty && form.get('newPassword').errors">
            <div class="error">
              <ng-container *ngIf="form.get('newPassword').hasError('oldPwdSet')">
                Das alte Passwort darf nicht fehlen
              </ng-container>
              <ng-container *ngIf="form.get('newPassword').hasError('minlength')">
                Das neue Passwort muss mindestens 6 Zeichen lang sein
              </ng-container>
            </div>
          </ng-container>
        </ion-item>

        <ion-item class=" ion-align-items-center ">
          <ion-label position="floating">Neues Passwort bestätigen</ion-label>
          <ion-input minlength="8" required="false" type="password" formControlName="confirmPassword"></ion-input>
          <ng-container *ngIf="form.get('confirmPassword').dirty && form.get('confirmPassword').errors">
            <div class="error">
              <ng-container *ngIf="form.get('confirmPassword').hasError('required')">
                Das Feld darf nicht leer sein
              </ng-container>
              <ng-container *ngIf="form.get('confirmPassword').hasError('inequality')">
                Die Passwörter stimmen nicht überein
              </ng-container>
            </div>
          </ng-container>
        </ion-item>

        <ng-container *ngIf="needsUpgrade">
          <div class="seperator">
            <ion-title size="small">Account upgraden</ion-title>
          </div>
          <ion-item class=" ion-align-items-center">
            <ion-label position="floating">Upgrade code</ion-label>
            <ion-input minlength="8" required="false" formControlName="upgradeCode"></ion-input>
          </ion-item>
        </ng-container>

        <ion-button class="ios ion-align-items-center" color="primary" expand="full" type="submit"
                    style="margin-top: 5%;">Änderungen speichern
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
