<ion-content>
  <div style="width: 100%; height: 100%; top: 0%; bottom: 0%; background: #000000;">
    <div class="main-div">
      <div [routerLink]="['/login']" class="button-props" id="button1">
        <p class="p-center-h-v no-select">stay connected</p>
      </div>

      <div [routerLink]="['/register']" class="button-props" id="button2">
        <p class="p-center-h-v no-select">stay together</p>
      </div>

      <div class="button-props" id="button3">
        <p class="p-center-h-v no-select">stay with friends</p>
      </div>

      <div class="button-props" id="button4">
        <p class="p-center-h-v no-select">stay in education</p>
      </div>
    </div>
  </div>
</ion-content>
