<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>start-page-try</ion-title>-->
<!--    <ion-back-button slot="start">-->
<!--      <ion-icon name="arrow-back-outline"></ion-icon>-->
<!--    </ion-back-button>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
  <div style="width: 100%; height: 100%; top: 0%; bottom: 0%; background: #000000;">
    <div class="main-div">
      <div id="button1" class="button-props" [routerLink]="['/login']">
        <p class="p-center-h-v no-select">stay in touch</p>
      </div>

      <div id="button2" class="button-props" [routerLink]="['/register']">
        <p class="p-center-h-v no-select">stay together</p>
      </div>

      <div id="button3" class="button-props">
        <p class="p-center-h-v no-select">stay with friends</p>
      </div>

      <div id="button4" class="button-props">
        <p class="p-center-h-v no-select">stay in education</p>
      </div>
    </div>
  </div>
</ion-content>
