<ion-header>
  <ion-toolbar>

    <ion-back-button slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-back-button>

    <ion-title>Stay informed</ion-title>

    <ion-button (click)="toggleEdit($event)" *ngIf="isAdmin" slot="end">
      <ion-icon name="create"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-outer">
    <div class="content-inner">

      <div *ngFor="let card of cards;" style="overflow: visible;">
        <ion-card style="overflow: visible; margin-bottom: 35px;">
          <img src="{{card.srcpath}}"/>
          <ion-card-header>
            <ion-card-subtitle>{{card.subtitle}}</ion-card-subtitle>
            <ion-card-title>{{card.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{card.content}}</ion-card-content>

          <div [hidden]="!isEdit" class="overlay-card-outer">
            <button (click)="onEditCard(card)" class="overlay-card-button">
              <p class="p-class">Bearbeiten</p>
            </button>
          </div>
          <ion-button (click)="onDeleteCard(card)" [hidden]="!isEdit" class="delete-button" color="danger"
                      size="default">
            <ion-icon class="delete-button-icon" name="trash"></ion-icon>
          </ion-button>
        </ion-card>
      </div>

    </div>
  </div>

  <ion-fab *ngIf="isAdmin" [hidden]="!isEdit" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onCreateCard()" style="margin-right: 10px;">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
