<ion-header>
  <ion-toolbar>
    <div style="position: absolute; float: left; padding: 0px; margin: 10px 0px; text-align: center; width: auto;">
      <ion-title style="width: 100%">Stay informed</ion-title>
    </div>
    <ion-back-button slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-back-button>

    <div style="float: right; margin-right: 10px;">
      <ion-button *ngIf="isAdmin" (click)="toggleEdit($event)" id="editButton">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-outer">
    <div class="content-inner">

      <div *ngFor="let card of cards;">
        <ion-card>
          <img src="{{card.srcpath}}"/>
          <ion-card-header>
            <ion-card-subtitle>{{card.subtitle}}</ion-card-subtitle>
            <ion-card-title>{{card.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{card.content}}</ion-card-content>

          <div class="overlay-card-outer" [hidden]="!isEdit" (click)="onEditCard(card)">
            <div class="overlay-card-inner" style="">
              <button class="overlay-card-button">Bearbeiten</button>
            </div>
          </div>
          <button class="delete-button" [hidden]="!isEdit" (click)="onDeleteCard(card)">Löschen</button>
        </ion-card>
      </div>

    </div>
  </div>

  <ion-fab *ngIf="isAdmin" [hidden]="!isEdit" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button style="margin-right: 10px;" (click)="onAddCard()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
