<ion-content [fullscreen]="true">

  <div class="content-outer">
    <div class="content-inner">
      <div id='main-box'>
        <a [routerLink]="stayInTouchLink" class="button-element" id="element-1">
          <p class="p-center-h-v">stay in touch</p>
        </a>
        <a [routerLink]="['/stay-informed']" class="button-element" id="element-2">
          <p class="p-center-h-v">stay informed</p>
        </a>
      </div>
      <div *ngIf="needsUpgrade" class="upgrade-button">
        <ion-button (click)="showActivation()" slot="secondary">App freischalten</ion-button>
      </div>
    </div>
  </div>
</ion-content>
