<ion-content class="ion-align-items-center ion-padding">
  <form [formGroup]="form">
    <div class="content-outer">
      <div class="content-inner">

        <ion-label>forename:</ion-label>
        <ion-input class="input-field-style" formControlName="forename"></ion-input>

        <ion-label>surename:</ion-label>
        <ion-input class="input-field-style" formControlName="surename"></ion-input>

        <ion-label>role:</ion-label>
        <ion-select cancelText="Dismiss" formControlName="role" okText="Okay" value="{{userRoles.User}}">
          <ion-select-option value="{{userRoles.User}}">{{userRoles.User}}</ion-select-option>
          <ion-select-option value="{{userRoles.Partner}}">{{userRoles.Partner}}</ion-select-option>
        </ion-select>

        <ion-label>email:</ion-label>
        <ion-input class="input-field-style" formControlName="email"></ion-input>

        <ion-buttons>
          <ion-button (click)="onSubmit()" type="submit">Speichern</ion-button>
          <ion-button (click)="dismiss()" fill="clear">Abbrechen</ion-button>
        </ion-buttons>

      </div>
    </div>
  </form>
</ion-content>
